In [49]:
import json
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt 
from sklearn.linear_model import LinearRegression
%matplotlib inline

In [50]:
Y = {}
X = {}

with open('./data/timeline.json') as f:
    data = json.load(f)
    for req in data:
        results = req["results"]
        metrics = req["metrics"]
        
        for key in results:
            if key not in Y.keys():
                Y[key] = []
            Y[key].append(results[key])
        
        categorials = metrics["categorials"]
        for key in categorials:
            if key not in X.keys():
                X[key] = []
            X[key].append(categorials[key])
            
        numerics = metrics["numerics"]
        for key in numerics:
            if key not in X.keys():
                X[key] = []
            X[key].append(numerics[key])
            
print(Y)
print()
print(X)

{'execute_time': [27, 30, 20, 18, 52, 63, 33, 27, 97, 122, 95, 111, 98, 123], 'memory_use': [345, 405, 670, 500, 199, 201, 259, 292, 320, 320, 280, 780, 670, 695]}

{'node-2': [0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0], 'node-3': [0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1], 'edp-2': [0, 0, 0, 0, 1, 1, 1, 1, 0, 0, 0, 1, 1, 1], 'request_size': [122, 122, 122, 123, 180, 93, 101, 100, 100, 244, 160, 226, 210, 213]}

In [51]:
# for key in X:
#     metrica = X[key]
#     if len(metrica) > 0 and type(metrica[0]) == str:
#         print("Категориальная переменная", key)
#         categorials = []
#         for v in metrica:
#             if v not in categorials:
#                 categorials.append(v)
#         print("Число категорий ", len(categorials))
#         if len(categorial) > 1:

In [52]:
XY = {}

for key in Y.keys():
    XY[key] = Y[key]

for key in X.keys():
    XY[key] = X[key]
    
df = pd.DataFrame(XY)
df

    execute_time  memory_use  node-2  node-3  edp-2  request_size
0             27         345       0       0      0           122
1             30         405       0       0      0           122
2             20         670       1       0      0           122
3             18         500       1       0      0           123
4             52         199       0       0      1           180
5             63         201       0       0      1            93
6             33         259       1       0      1           101
7             27         292       1       0      1           100
8             97         320       0       1      0           100
9            122         320       0       1      0           244
10            95         280       0       1      0           160
11           111         780       0       1      1           226
12            98         670       0       1      1           210
13           123         695       0       1      1           213

In [53]:
X = pd.DataFrame(X)
Y = pd.DataFrame(Y)

regressor = LinearRegression()
regressor.fit(X, Y)

LinearRegression()

In [54]:
for i, v in enumerate(Y.columns):
    print(i)
    print(v)

0
execute_time
1
memory_use

In [55]:
regressor.intercept_

array([27.82087639, 44.19621851])

In [56]:
result = {}

for i, v in enumerate(Y.columns):
    coeffs = {}
    for i2, v2 in enumerate(X.columns):
        coeffs[v2] = regressor.coef_[i][i2]
    coeffs["base"] = regressor.intercept_[i]
    result[v] = coeffs
    
print(result)

{'execute_time': {'node-2': -17.28981112411329, 'node-3': 60.37703004087302, 'edp-2': 12.733806407523524, 'request_size': 0.06817965497947959, 'base': 27.820876390140832}, 'memory_use': {'node-2': 176.0438313189002, 'node-3': 105.31998757854984, 'edp-2': 1.7368364470270123, 'request_size': 1.8757088066985852, 'base': 44.19621851069326}}

In [57]:
with open('./data/coef.json', 'w') as fp:
    json.dump(result, fp)